<div data-controller="adminStatistic" data-adminStatistic-url-value="{{ path('app_admin_statisticadmin_save', {}, false) }}">
    <div class="mb-3">
        <label for="state" class="form-label">Bundesland</label>
        <select class="form-select" id="stateLL" aria-label="Bundesland">
            {% for state in states %}
                <option value="{{ state }}">{{ state }}</option>
            {% endfor %}
        </select>
        <div id="emailHelp" class="form-text">W채hle das Bundesland, f체r die Daten erfasst werden sollen</div>
    </div>
    <div class="mb-3">
        <label class="form-check-label" for="addNumberLL">Anzahl neuer <span class="text-bold">best채tigter</span> UUs</label>
        <input type="number" min="1" class="form-control" id="addNumberLL">
    </div>
    <div class="mb-3">
        <label class="form-check-label" for="addNumberUnapprovedLL">Anzahl neuer <span class="text-bold">unbest채tigter</span> UUs</label>
        <input type="number" min="1" class="form-control" id="addNumberUnapprovedLL">
    </div>
    <input type="hidden" name="csrf_token" id="csrf_token_ll" value="{{ csrf_token('uus_add_ll') }}">
    <button type="submit" data-action="click->adminStatistic#sendDataLandesliste" class="btn btn-partei">Speichern</button>
</div>
