{% extends 'base.html.twig' %}
{% block title %}Passwort{% endblock %}

{% block body %}
    {{ include('admin/menu.html.twig', {title: 'Passwort ändern'}) }}

    <div class="jumbotron">
        {{ include('layout/flash_messages.html.twig') }}
        <div class="card">
            <div class="card-body" id="userForm">
                {% if errors is defined %}
                    {% for error in errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
