{% extends 'base.html.twig' %}
{% block title %}UU Dokument{% endblock %}

{% block body %}
{{ include('admin/menu.html.twig') }}

<div class="jumbotron">
    {{ include('layout/flash_messages.html.twig') }}
    <div class="card">
        <div class="card-body" id="documentForm">
            {{ form(form) }}
            <a href="#" class="btn btn-dark">Löschen</a>
        </div>
    </div>
{% endblock %}
