<div class="search-wrapper">
    <div class="search-circle"></div>
    <div class="search-circle"></div>
    <div class="search-circle"></div>
    <div class="search-shadow"></div>
    <div class="search-shadow"></div>
    <div class="search-shadow"></div>
    <span>{{ 'search_button'|trans({}, 'search') }}</span>
</div>
