@import "./colors";
//@import "../vendor/bootstrap/dist/css/bootstrap.min.css";

.loading-text{
  animation: blink 1.5s infinite;
  animation-fill-mode: both;
  margin-top: 20px;
  text-align: center;
}

@keyframes blink {
  0% { opacity: 0 }
  50% { opacity: 1 }
  100% { opacity: 0 }
}
.loader {
  z-index: 9999;
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 84px;
  height: 84px;
  border-radius: 50%;
  perspective: 800px;
  background-color: $gray-500;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid $wsa-red;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid $wsa-red;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid $wsa-red;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.search-wrapper{
  width:200px;
  height:10vh;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}
.search-circle{
  width:20px;
  height:20px;
  position: absolute;
  border-radius: 50%;
  background-color: $wsa-red;
  left:15%;
  transform-origin: 50%;
  animation: search-circle .5s alternate infinite ease;
}

@keyframes search-circle{
  0%{
    top:60px;
    height:5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40%{
    height:20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100%{
    top:0;
  }
}
.search-circle:nth-child(2){
  left:45%;
  animation-delay: .2s;
}
.search-circle:nth-child(3){
  left:auto;
  right:15%;
  animation-delay: .3s;
}
.search-shadow{
  width:20px;
  height:4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top:62px;
  transform-origin: 50%;
  z-index: -1;
  left:15%;
  filter: blur(1px);
  animation: search-shadow .5s alternate infinite ease;
}

@keyframes search-shadow{
  0%{
    transform: scaleX(1.5);
  }
  40%{
    transform: scaleX(1);
    opacity: .7;
  }
  100%{
    transform: scaleX(.2);
    opacity: .4;
  }
}
.search-shadow:nth-child(4){
  left: 45%;
  animation-delay: .2s
}
.search-shadow:nth-child(5){
  left:auto;
  right:15%;
  animation-delay: .3s;
}
.search-wrapper span{
  position: absolute;
  top:75px;
  //font-family: 'Lato';
  font-size: 20px;
  letter-spacing: 12px;
  color: $gray-700;
  left:15%;
}


// address searching
@keyframes load {
  0%{
    opacity: 0.08;
    /*         font-size: 10px; */
    /* 				font-weight: 400; */
    filter: blur(5px);
    letter-spacing: 3px;
  }
  100%{
    /*         opacity: 1; */
    /*         font-size: 12px; */
    /* 				font-weight:600; */
    /* 				filter: blur(0); */
  }
}

.animate-search-address {
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
  margin: auto;
  /* 	width: 350px; */
  /* 	font-size:26px; */
  font-family: Helvetica, sans-serif, Arial;
  animation: load 1.2s infinite 0s ease-in-out;
  animation-direction: alternate;
  text-shadow: 0 0 1px black;
  background-color: $wsa-red;
  color: $white;
  border-radius: var(--bs-badge-border-radius);
}
#searching-address {
  max-width: 30vw;
}
